.sep-container {
    position: relative;
    height: 80vw;
}

.sep-container p {
    position: absolute;
    margin-left: 3vw;
}

#em, #ag {
    margin-top: -2vw;
}
.sep-pack {
    width: 7vw;
    display: flex;
    margin: 2vw;
    transition: transform .2s;
}
@media (max-width: 1000px) {
    .sep-pack {
        width: 12vw;
    }
    #em, #ag {
        margin-top: -4vw;
    }
    .sep-container {
        position: relative;
        height: 100vw;
    }
    }

.sep-pack:hover {
-ms-transform: scale(1.5); /* IE 9 */
-webkit-transform: scale(1.5); /* Safari 3-8 */
transform: scale(1.5); 
}

.mag-hov:hover, .aceit-b:hover{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
    }



#vaso-1 {
  position: absolute;
  top: 8vw;
  right: 33vw;
  width: 29vw;
  opacity: 0;
    
}

#fill-w{ /*add 12vw to get the glass full  top: 20.6vw; */
    background-color: hsl(201deg 85% 52%);
    height: 0vw;
    width: 11.8vw;
    position: absolute;
    top: 32.6vw;
    border-radius: 6px;
    right: 41.8vw;
    opacity: 0.6;
}

#gnd-in {
    position: absolute;
    top: 20.9vw;
    right: 41.8vw;
    width: 11.8vw;
    opacity: 0.65;
    height: 0vw;
}

#brs-in{
    position: absolute;
    top: 20.9vw; /* +10*/
    right: 41.8vw;
    width: 11.8vw;
    opacity: 0.9;
    height: 0; /* to 3vw*/

}

#mgn-1 {
    position: absolute;
    top: 1.9vw; /* +10*/
    right: 41.8vw;
    width: 11.8vw;
    opacity: 0;
}

#mgn-2 {
    position: absolute;
    top: 20.9vw; /* +10*/
    right: 41.8vw;
    width: 11.8vw;
    opacity: 0;
    transition: transform .2s;
}

#pop {
    position: absolute;
    top: 9.9vw;
    right: 27.8vw;
    width: 25.8vw;
    height: 40vw;
    opacity: 0;
}
.first-sep{
    transition: transform .2s;
    /* transform: rotate(90deg); */
}

#filt-1{
    position: absolute;
    top: 40.9vw;
    right: 18.8vw;
    width: 25.8vw;
    opacity: 0;
}
#filt-2{
    position: absolute;
    top: 52.9vw;
    right: 18.8vw;
    width: 25.8vw;
    opacity: 0;
}
#w-g{
    position: absolute;
    top: 54.5vw;
    right: 27.8vw;
    opacity: 0;
    width: 7.8vw;
}

#fill-w-2 {
    background-color: hsl(201deg 85% 52%);
    height: 0vw;
    width: 10.8vw;
    position: absolute;
    top: 74.7vw;
    border-radius: 6px;
    right: 26.4vw;
    opacity: 0.6;
}

#fill-w-3 {
    background-color: hsl(201deg 85% 52%);
    height: 0vw;
    width: 10.8vw;
    position: absolute;
    top: 74.9vw;
    border-radius: 6px;
    right: 26.4vw;
    opacity: 0.6;
}
#chorro{
    position: absolute;
    top: 58.1vw;
    right: 29.5vw;
    height: 18vw;
    opacity: 0;
}

#guardar{
    position: absolute;
    top: 26.1vw;
    right: 59.5vw;
    opacity: 0;
}
button {
    z-index: 5;
}

#llenar{
    position: absolute;
    top: 43.1vw;
    right: 40.5vw;
    opacity: 0;
    z-index: 5;
}

#filtrar{
    position: absolute;
    top: 58.1vw;
    right: 40.5vw;
    opacity: 0;
}

#guardar-2{
    position: absolute;
    top: 58.1vw;
    right: 50.5vw;
    opacity: 0;
}
#guardar-3{
    position: absolute;
    top: 28.1vw;
    right: 54.5vw;
    z-index: 6;
   display: none;
}
#vaciar-2{
    position: absolute;
    top: 28.1vw;
    right: 54.5vw;
    z-index: 5;
   display: none;
}
#vaciar-3{
    position: absolute;
    top: 28.1vw;
    right: 54.5vw;
    z-index: 5;
   display: none;
}

.instructions-c, .sep-container{
    background-color: #e0fefe;
}

.aceit-b {
    position: absolute;
    left: 26vw;
    top: 4vw;
    width: 20vw;
    opacity: 0;
    transition: transform .2s;
}

.vaso-b{
    position: absolute;
    left: 47vw;
    top: 2.5vw;
    width: 24vw;
    opacity: 0;
   
}
#water-b{
    background-color: hsl(201deg 85% 52%);
    height: 0vw;
    width: 9.8vw;
    position: absolute;
    top: 22.8vw;
    border-radius: 6px;
    right: 36.3vw;
    opacity: 0.6;
}

#aceit-l{
    background-color: #FFC808;
    height: 0vw;
    width: 9.8vw;
    position: absolute;
    top: 17.3vw;
    border-radius: 6px;
    right: 36.3vw;
    opacity: 0.6;
}
#funnel-b {
    position: absolute;
    left: 30vw;
    top: 24.5vw;
    width: 33vw;
    opacity: 0;
}

#to-separ{
    position: absolute;
    opacity: 0.5;
    /* result:
    left: 43vw;
    height: 16vw;
    top: 38.5vw;  $("#to-separ").animate({top: '-=10vw', left: '-=3.5vw', width: '+=7vw', height: '+=14vw'}, 3000); 
    width: 9vw;
    initial: */
    left: 46.5vw;
    height: 2vw;
    top: 48.5vw;
    width: 2vw;
    
}
#w-tr{
    position: absolute;
    opacity: 0;
    left: 44.5vw;
    height: 7vw;
    width: 6vw;
    top: 43.5vw;
}
#a-tr{
    position: absolute;
    opacity: 0;
    left: 42vw;
    height: 6vw;
    width: 11vw;
    top: 38.5vw;
}

#water-final {
    background-color: hsl(201deg 85% 52%);
    height: 0vw;
    width: 8.4vw;
    position: absolute;
    top: 63.4vw;
    border-radius: 6px;
    right: 48vw;
    opacity: 0.6;
}

#aceite-ins{
    margin-left: 2vw ;
    display: none;
}
.instructions-c{
    margin: 2vw;
}